.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  color: #3e2723;
  padding: 20px;
}

.App-header {
  background-color: #795548;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-form {
  background-color: #ffe0b2;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App-form h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.App-form label {
  display: block;
  margin-bottom: 10px;
}

.App-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.App-form p {
  font-size: 1.2rem;
  margin-top: 10px;
}
